<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>MediavelFree0.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{71,92}</string>
				<key>spriteSize</key>
				<string>{71,92}</string>
				<key>textureRect</key>
				<string>{{0,0},{71,92}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5070422535211268,0}</string>
			</dict>
			<key>MediavelFree1.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>textureRect</key>
				<string>{{72,0},{14,14}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree2.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,13}</string>
				<key>spriteSize</key>
				<string>{14,13}</string>
				<key>textureRect</key>
				<string>{{87,0},{14,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree3.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>textureRect</key>
				<string>{{102,0},{14,14}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree4.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,13}</string>
				<key>spriteSize</key>
				<string>{14,13}</string>
				<key>textureRect</key>
				<string>{{117,0},{14,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree5.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>textureRect</key>
				<string>{{132,0},{14,14}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree6.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,13}</string>
				<key>spriteSize</key>
				<string>{14,13}</string>
				<key>textureRect</key>
				<string>{{147,0},{14,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree7.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>textureRect</key>
				<string>{{162,0},{14,14}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree8.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,13}</string>
				<key>spriteSize</key>
				<string>{14,13}</string>
				<key>textureRect</key>
				<string>{{177,0},{14,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree9.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{11,23}</string>
				<key>spriteSize</key>
				<string>{11,23}</string>
				<key>textureRect</key>
				<string>{{192,0},{11,23}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5454545454545454,0}</string>
			</dict>
			<key>MediavelFree10.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>textureRect</key>
				<string>{{204,0},{14,14}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree11.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,13}</string>
				<key>spriteSize</key>
				<string>{14,13}</string>
				<key>textureRect</key>
				<string>{{219,0},{14,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree12.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>textureRect</key>
				<string>{{0,93},{14,14}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree13.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,13}</string>
				<key>spriteSize</key>
				<string>{14,13}</string>
				<key>textureRect</key>
				<string>{{15,93},{14,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree14.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>textureRect</key>
				<string>{{30,93},{14,14}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree15.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,13}</string>
				<key>spriteSize</key>
				<string>{14,13}</string>
				<key>textureRect</key>
				<string>{{45,93},{14,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree16.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>textureRect</key>
				<string>{{60,93},{14,14}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree17.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,13}</string>
				<key>spriteSize</key>
				<string>{14,13}</string>
				<key>textureRect</key>
				<string>{{75,93},{14,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree18.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{12,29}</string>
				<key>spriteSize</key>
				<string>{12,29}</string>
				<key>textureRect</key>
				<string>{{90,93},{12,29}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree19.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>textureRect</key>
				<string>{{103,93},{14,14}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree20.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,13}</string>
				<key>spriteSize</key>
				<string>{14,13}</string>
				<key>textureRect</key>
				<string>{{118,93},{14,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree21.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>textureRect</key>
				<string>{{133,93},{14,14}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree22.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,13}</string>
				<key>spriteSize</key>
				<string>{14,13}</string>
				<key>textureRect</key>
				<string>{{148,93},{14,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree23.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>textureRect</key>
				<string>{{163,93},{14,14}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree24.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,13}</string>
				<key>spriteSize</key>
				<string>{14,13}</string>
				<key>textureRect</key>
				<string>{{178,93},{14,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree25.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>textureRect</key>
				<string>{{193,93},{14,14}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree26.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,13}</string>
				<key>spriteSize</key>
				<string>{14,13}</string>
				<key>textureRect</key>
				<string>{{208,93},{14,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree27.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{32,29}</string>
				<key>spriteSize</key>
				<string>{32,29}</string>
				<key>textureRect</key>
				<string>{{0,123},{32,29}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree28.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>textureRect</key>
				<string>{{33,123},{14,14}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree29.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,13}</string>
				<key>spriteSize</key>
				<string>{14,13}</string>
				<key>textureRect</key>
				<string>{{48,123},{14,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree30.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>textureRect</key>
				<string>{{63,123},{14,14}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree31.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,13}</string>
				<key>spriteSize</key>
				<string>{14,13}</string>
				<key>textureRect</key>
				<string>{{78,123},{14,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree32.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>textureRect</key>
				<string>{{93,123},{14,14}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree33.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,13}</string>
				<key>spriteSize</key>
				<string>{14,13}</string>
				<key>textureRect</key>
				<string>{{108,123},{14,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree34.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>textureRect</key>
				<string>{{123,123},{14,14}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree35.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,13}</string>
				<key>spriteSize</key>
				<string>{14,13}</string>
				<key>textureRect</key>
				<string>{{138,123},{14,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>MediavelFree36.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,9}</string>
				<key>spriteSize</key>
				<string>{8,9}</string>
				<key>textureRect</key>
				<string>{{153,123},{8,9}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree37.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,9}</string>
				<key>spriteSize</key>
				<string>{8,9}</string>
				<key>textureRect</key>
				<string>{{162,123},{8,9}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree38.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,9}</string>
				<key>spriteSize</key>
				<string>{8,9}</string>
				<key>textureRect</key>
				<string>{{171,123},{8,9}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree39.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,9}</string>
				<key>spriteSize</key>
				<string>{8,9}</string>
				<key>textureRect</key>
				<string>{{180,123},{8,9}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree40.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,9}</string>
				<key>spriteSize</key>
				<string>{8,9}</string>
				<key>textureRect</key>
				<string>{{189,123},{8,9}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree41.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,9}</string>
				<key>spriteSize</key>
				<string>{8,9}</string>
				<key>textureRect</key>
				<string>{{198,123},{8,9}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree42.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,9}</string>
				<key>spriteSize</key>
				<string>{8,9}</string>
				<key>textureRect</key>
				<string>{{207,123},{8,9}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree43.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,9}</string>
				<key>spriteSize</key>
				<string>{8,9}</string>
				<key>textureRect</key>
				<string>{{216,123},{8,9}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree44.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,9}</string>
				<key>spriteSize</key>
				<string>{8,9}</string>
				<key>textureRect</key>
				<string>{{225,123},{8,9}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree45.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,9}</string>
				<key>spriteSize</key>
				<string>{8,9}</string>
				<key>textureRect</key>
				<string>{{234,123},{8,9}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree46.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,9}</string>
				<key>spriteSize</key>
				<string>{8,9}</string>
				<key>textureRect</key>
				<string>{{0,153},{8,9}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree47.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,9}</string>
				<key>spriteSize</key>
				<string>{8,9}</string>
				<key>textureRect</key>
				<string>{{9,153},{8,9}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree48.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,9}</string>
				<key>spriteSize</key>
				<string>{8,9}</string>
				<key>textureRect</key>
				<string>{{18,153},{8,9}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree49.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,9}</string>
				<key>spriteSize</key>
				<string>{8,9}</string>
				<key>textureRect</key>
				<string>{{27,153},{8,9}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree50.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,7}</string>
				<key>spriteSize</key>
				<string>{8,7}</string>
				<key>textureRect</key>
				<string>{{36,153},{8,7}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree51.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{61,12}</string>
				<key>spriteSize</key>
				<string>{61,12}</string>
				<key>textureRect</key>
				<string>{{45,153},{61,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.4918032786885246,0}</string>
			</dict>
			<key>MediavelFree52.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,9}</string>
				<key>spriteSize</key>
				<string>{8,9}</string>
				<key>textureRect</key>
				<string>{{107,153},{8,9}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree53.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,9}</string>
				<key>spriteSize</key>
				<string>{8,9}</string>
				<key>textureRect</key>
				<string>{{116,153},{8,9}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree54.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{12,12}</string>
				<key>spriteSize</key>
				<string>{12,12}</string>
				<key>textureRect</key>
				<string>{{125,153},{12,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree55.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{11,10}</string>
				<key>spriteSize</key>
				<string>{11,10}</string>
				<key>textureRect</key>
				<string>{{138,153},{11,10}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5454545454545454,0}</string>
			</dict>
			<key>MediavelFree56.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{2,8}</string>
				<key>spriteSize</key>
				<string>{2,8}</string>
				<key>textureRect</key>
				<string>{{150,153},{2,8}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{1,0}</string>
			</dict>
			<key>MediavelFree57.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,9}</string>
				<key>spriteSize</key>
				<string>{8,9}</string>
				<key>textureRect</key>
				<string>{{153,153},{8,9}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree58.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,9}</string>
				<key>spriteSize</key>
				<string>{8,9}</string>
				<key>textureRect</key>
				<string>{{162,153},{8,9}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree59.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,9}</string>
				<key>spriteSize</key>
				<string>{8,9}</string>
				<key>textureRect</key>
				<string>{{171,153},{8,9}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree60.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,9}</string>
				<key>spriteSize</key>
				<string>{8,9}</string>
				<key>textureRect</key>
				<string>{{180,153},{8,9}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree61.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,9}</string>
				<key>spriteSize</key>
				<string>{8,9}</string>
				<key>textureRect</key>
				<string>{{189,153},{8,9}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>MediavelFree62.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,9}</string>
				<key>spriteSize</key>
				<string>{8,9}</string>
				<key>textureRect</key>
				<string>{{198,153},{8,9}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>realTextureFileName</key>
			<string>MediavelFree.png</string>
			<key>textureFileName</key>
			<string>MediavelFree.png</string>
			<key>size</key>
			<string>{242,166}</string>
		</dict>
	</dict>
</plist>